<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>527773109382-hmabt7397v49j3hvlb5n0ntuqjkevdtn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.527773109382-hmabt7397v49j3hvlb5n0ntuqjkevdtn</string>
	<key>API_KEY</key>
	<string>AIzaSyD_TQS7vS60RkdLFe3LYOCTudTv-Dk8FEo</string>
	<key>GCM_SENDER_ID</key>
	<string>527773109382</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.kisilerUygulamasi</string>
	<key>PROJECT_ID</key>
	<string>egitim2-365fc</string>
	<key>STORAGE_BUCKET</key>
	<string>egitim2-365fc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:527773109382:ios:ae2f909bcb12ffd8a39507</string>
	<key>DATABASE_URL</key>
	<string>https://egitim2-365fc-default-rtdb.firebaseio.com</string>
</dict>
</plist>